---
import Layout from "../layouts/Layout.astro";
import DogList from "../components/DogList.astro"
---

<Layout title="Dogs">
	<h1 class="font-serif text-3xl font-semibold mt-8 mb-5">DogsList:</h1>
	<DogList />
</Layout>
